[submodule "zoo/cheat"]
	path = zoo/cheat
	url = git@github.com:cheat/cheat
[submodule "zoo/cheat-ext"]
	path = zoo/cheat-ext
	url = https://github.com/chhsiao90/cheat-ext
[submodule "zoo/chemacs"]
	path = zoo/chemacs
	url = https://github.com/plexus/chemacs
[submodule "zoo/tldr"]
	path = zoo/tldr
	url = https://github.com/tldr-pages/tldr
[submodule "zoo/bro"]
	path = zoo/bro
	url = https://github.com/hubsmoke/bro
[submodule "zoo/notmuch"]
	path = zoo/notmuch
	url = https://github.com/notmuch/notmuch
[submodule "my-aur/yay"]
	path = my-aur/yay
	url = https://aur.archlinux.org/yay.git
[submodule "dotconfigs/i3"]
	path = dotconfigs/i3
	url = git@github.com:SoliElvis/i3
[submodule "dotconfigs/myNeovim"]
	path = dotconfigs/myNeovim
	url = git@github.com:SoliElvis/myNeovim
[submodule "dotconfigs/myDoom"]
	path = dotconfigs/myDoom
	url = git@github.com:SoliElvis/myDoom.git
