[user]
	email = frederic.boileau@protonmail.com
	name = Frederic Boileau
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff

[github]
	user = millenialGaston
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	root = rev-parse --show-toplevel
	root = !pwd
[credential]
	helper = cache --timeout=18000
[push]
	default = simple
